@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="row well">
  <div class="col m12">
    <h3><a href="/bands">See all bands</a></h3>
    <h3><a href="/venues">See all venues</a></h3>
  </div>
</div>
